body { 
    margin: 0; 
    padding: 0; 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
    font-size: x-large; 
    }

.container { 
    display: grid; 
    grid-template-areas: "item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1"
                        "item2 item2 item2 item2 item2 item3 item3 item3 item3 item3  item4 item4 item4 item4 item4"
                        "item5 item5 item5 item6 item6 item6 item7 item7 item7 item8 item8 item8 item9 item9 item9"
                        "item10 item10 item10 item10 item10 item10 item10 item10 item10 item10 item10 item10 item10 item10 item10"; 
    grid-template-columns: repeat(15, 1fr); 
    gap: 0px; 
    width: 100%;
    max-width: 1530px;
    margin: auto; 
}

.item1 { grid-area: item1; background-color: white; text-align: center; height: 80px; } 
.item2 { grid-area: item2; background-color: white; text-align: center; height: 300px; } 
.item3 { grid-area: item3; background-color: white; text-align: center; height: 300px; }
.item4 { grid-area: item4; background-color: white; text-align: center; height: 300px; }
.item5 { grid-area: item5; background-color: white; text-align: center; height: 505px; }
.item6 { grid-area: item6; background-color: white; text-align: center; height: 505px; }
.item7 { grid-area: item7; background-color: white; text-align: center; height: 505px; }
.item8 { grid-area: item8; background-color: white; text-align: center; height: 505px; }
.item9 { grid-area: item9; background-color: white; text-align: center; height: 505px; }
.item10 { grid-area: item10; background-color: white; text-align: center; height: 150px; }

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10 { border: 3px solid; }

.item1 { border-color: rgb(255, 0, 0); }
.item2 { border-color: rgb(255, 204, 0); }
.item3 { border-color: rgb(60, 255, 0); }
.item4 { border-color: rgb(0, 238, 255); }
.item5 { border-color: rgb(0, 38, 255); }
.item6 { border-color: rgb(212, 0, 255); }
.item7 { border-color: rgb(195, 0, 255); }
.item8 { border-color: rgb(255, 0, 153); }
.item9 { border-color: rgb(255, 0, 0); }
.item10 { border-color: rgb(0, 0, 0); }